{% extends 'base.html' %}
{% block title %}Loin Page{% endblock title %}

{% block content %}
<form method="POST" action="{{ url_for('auth.login') }}">
  <br/>
  <h3 align="center">Login</h3>
  <h5 align="center">Don't have an account yet? <a href="/signup">Create an account</a></h5>
  <br/>
  <div class="form-floating mb-3">
    <input 
      type="email" 
      class="form-control" 
      id="email" 
      name="email" 
      placeholder="name@example.com"
    />
    <label for="email">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input 
      type="password" 
      class="form-control" 
      id="password" 
      name="password"
      placeholder="1234"
    />
    <label for="password">Password</label>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-primary" style="background-color: #12372A; border-color: #12372A;">Login</button>
    </div>
  </div>
</form>
{% endblock %}