/* Base Web App Styling -- Applies to all */ 
body { 
  background-color: white; 
  margin: auto;
}

.box {
  position: absolute;
  /*position: fixed;*/
  right: 0px;
  left: 0px;
}

.no-right-margin {
  position: absolute;
  right: 0px;
}

/* Explore Page Styling */ 
.custom-card-explore {
  background-color: white;
  color: #12372A;
}

.list-group-item-custom {
  background-color: white;
  color: #12372A;
}

.card-border-explore {
  border: 3px solid #362706; 
}

/* Statistics Page Styling 
.carousel-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.d-block.w-75 {
  max-width: 100%;
  height: auto;
}
*/

/* Centers card on screen */
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark-green {
  background-color: #12372A;
}


.container {
  margin: auto;  
}

.light-green {
  color: #D4E7C5; 
}

.textstyle1 {
  font-family: Noto-Sans, sans-serif;
}

.green3 {
  background-color: #86A789; 
}