/* Base Web App Styling -- Applies to all */ 
body {
  background-color: #D4E7C5;
}

/* Explore Page Styling */ 
.custom-card-explore {
  background-color: #99BC85;
  color: black;
}

.list-group-item-custom {
  background-color: #99BC85; 
  color: black; 
}

.card-border-explore {
  border: 3px solid #362706; 
}

/* Statistics Page Styling 
.carousel-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.d-block.w-75 {
  max-width: 100%;
  height: auto;
}
*/

/* Centers card on screen */
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
